@import "variables/variables";
@import "grid/grid";

body {
  margin: 0;
  font: 1em sans-serif;
  background-color: #edeeee;
}

.paintArea {
  border: 5px dashed #cccccc;
}

canvas {
  cursor: url('./img/paintbrush.cur'), auto;
  cursor: url('./img/paintbrush.png') 4 20, auto;
}

.tool option{
  text-transform: capitalize;
}

.draggable{
  cursor: nwse-resize !important;
}