@import "variables/variables";

body {
  margin: 0;
  font: 1em sans-serif;
  background-color: #fff;

}

.title {
  padding: 20px;
  color: $primary-color;
  margin: 0;
}

.subtitle {
  color: $primary-color;
}

.paintAreaContainer {
  width: 100%;
  height: auto;
  text-align: center;
}

.paintArea {
  border: 1px solid red;
  margin: 20px auto;
}